<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549266111975-p80s2qerj40igjme446d44hf80p1g56p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549266111975-p80s2qerj40igjme446d44hf80p1g56p</string>
	<key>API_KEY</key>
	<string>AIzaSyBCNOgAZS0xreQsuYCpXfemrQYaSEeIemI</string>
	<key>GCM_SENDER_ID</key>
	<string>549266111975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.snaptext.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ai-lens-7d908</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-lens-7d908.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549266111975:ios:0687fd26a9cef0fff21142</string>
</dict>
</plist>